<%= form_for :user, url: user_path(@user), html: {method: "put"} do |f| %>
  <p>
    <%= 'Edit ' +  @user.email %><br>
  </p>

  <p>
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </p>

  <p>
    <%= f.label :firstName %><br>
    <%= f.text_field :firstName %>
  </p>

  <p>
    <%= f.label :lastName %><br>
    <%= f.text_field :lastName %>
  </p>

  <p>
    <%= f.label :manager %><br>
    <%= f.text_field :manager %>
  </p>
 
  <p>
    <%= f.label :phoneNumber %><br>
    <%= f.text_field :phoneNumber %>
  </p>

  <p>
    <%= f.label :status %><br>
    <%= f.text_field :status %>
  </p>
  
  <p>
    <%= f.label :street %><br>
    <%= f.text_field :street %>
  </p>

 <p>
    <%= f.label :city %><br>
    <%= f.text_field :city %>
  </p>

 <p>
    <%= f.label :state %><br>
    <%= f.text_field :state %>
  </p>

 <p>
    <%= f.label :zipcode %><br>
    <%= f.text_field :zipcode %>
  </p>
  
  <p>
    <%= f.label :field1 %><br>
    <%= f.text_field :field1 %>
  </p>
  <p>
    <%= f.label :field2 %><br>
    <%= f.text_field :field2 %>
  </p>
  <p>
    <%= f.label :field3 %><br>
    <%= f.text_field :field3 %>
  </p>
  <p>
    <%= f.label :field4 %><br>
    <%= f.text_field :field4 %>
  </p>
  <p>
    <%= f.label :field5 %><br>
    <%= f.text_field :field5 %>
  </p>
  <p>
    <%= f.label :field6 %><br>
    <%= f.text_field :field6 %>
  </p>
  <p>
    <%= f.label :field7 %><br>
    <%= f.text_field :field7 %>
  </p>
  <p>
    <%= f.label :field8 %><br>
    <%= f.text_field :field8 %>
  </p>
  <p>
    <%= f.label :field9 %><br>
    <%= f.text_field :field9 %>
  </p>
  <p>
    <%= f.label :field10 %><br>
    <%= f.text_field :field10 %>
  </p>
  <p>
    <%= f.label :field11 %><br>
    <%= f.text_field :field11 %>
  </p>
  <p>
    <%= f.label :field12 %><br>
    <%= f.text_field :field12 %>
  </p>
  <p>
    <%= f.label :field13 %><br>
    <%= f.text_field :field13 %>
  </p>
  <p>
    <%= f.label :field14 %><br>
    <%= f.text_field :field14 %>
  </p>
  <p>
    <%= f.label :field15 %><br>
    <%= f.text_field :field15 %>
  </p>
  <p>
    <%= f.label :field16 %><br>
    <%= f.text_field :field16 %>
  </p>
  <p>
    <%= f.label :field17 %><br>
    <%= f.text_field :field17 %>
  </p>
  <p>
    <%= f.label :field18 %><br>
    <%= f.text_field :field18 %>
  </p>
  <p>
    <%= f.label :field19 %><br>
    <%= f.text_field :field19 %>
  </p>
  <p>
    <%= f.label :field20 %><br>
    <%= f.text_field :field20 %>
  </p>
  <p>
    <%= f.label :field21 %><br>
    <%= f.text_field :field21 %>
  </p>
  <p>
    <%= f.label :field22 %><br>
    <%= f.text_field :field22 %>
  </p>
  <p>
    <%= f.label :field23 %><br>
    <%= f.text_field :field23 %>
  </p>
  <p>
    <%= f.label :field24 %><br>
    <%= f.text_field :field24 %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
