<%= form_for :user, url: user_path(@user), html: {method: "put"} do |f| %>
  <p>
    <%= f.label @user.username %><br>
  </p>

  <p>
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </p>

  <p>
    <%= f.label :firstName %><br>
    <%= f.text_field :firstName %>
  </p>

  <p>
    <%= f.label :lastName %><br>
    <%= f.text_field :lastName %>
  </p>

  <p>
    <%= f.label :manager %><br>
    <%= f.text_field :manager %>
  </p>
 
  <p>
    <%= f.label :mobilePhone %><br>
    <%= f.text_field :mobilePhone %>
  </p>

  <p>
    <%= f.label :status %><br>
    <%= f.text_field :status %>
  </p>

  <p>
    <%= f.label :postalAddress %><br>
    <%= f.text_field :postalAddress %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
